* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: #333;
}

header {
  background-color: #ff5733;
  padding: 20px 0px;
  color: white;
  text-align: center;
}

header h1 {
  margin-bottom: 30px;
  margin-right: 100px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 60px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.logo_white {
  float: left;
  margin-top: -10px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #e3651d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}

::-webkit-scrollbar {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #e3651d;
  border-radius: 12px;
}

.text_build{
  font-size: 30px;
}

.goto_home{
  padding-top: 20px;
}

header .ileri {
  display: none;
}

header .geri {
  display: none;
}

.company-search-container {
  max-width: 800px;
  margin: 30px auto 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.company-search-container input[type="text"] {
  width: 70%;
  padding: 20px;
  border-radius: 30px;
  border-radius: 30px 0 0 30px;
  border: none;
  outline: none;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 90px;
}

.company-search-container button {
  padding: 20px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ff5733;
  border: none;
  outline: none;
  border-radius: 0 30px 30px 0;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 300ms all;
  margin-top: 90px;
}

.company-search-container button:hover {
  background-color: #ff3d00;
}

.sorgula_title {
  color: #e3651d;
  font-size: 40px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  header h1 {
    visibility: hidden;
  }

  header h1::after {
    content: "SGSE";
    visibility: visible;
  }

  .logo_white {
    display: none;
  }

  header nav ul {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
  }

  header .ileri{
    display: block;
    margin-top: -80px;
    font-size: 0px;
    float: right;
    margin-right: 10px;
  }

  header ul {
    display: none;
  }

  header .ileri {
    display: block;
    margin-top: -70px;
    font-size: 0px;
    float: right;
    margin-right: 10px;
    background-color: #e3651d;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 300ms all;
  }

  header .geri {
    display: block;
    margin-top: -70px;
    font-size: 0px;
    float: left;
    margin-left: 10px;
    background-color: #e3651d;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 300ms all;
  }

  header nav ul li {
    background-color: #333;
    padding: 10px;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  header a {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
  }

  header nav ul li a {
    color: #e3651d;
  }

  header h1 {
    margin-top: -100px;
    padding-top: 35px;
  }

  .google_maps {
    width: 100%;
  }

  .sorgula_title {
    margin-top: 20px;
    font-size: 35px;
  }

  .company-search-container button {
    padding: 20px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ff5733;
    border: none;
    outline: none;
    border-radius: 0 30px 30px 0;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 300ms all;
    margin-top: 90px;
  }

  .company-search-container input[type="text"] {
    width: 70%;
    padding: 20px 20px;
    border-radius: 30px;
    border-radius: 30px 0 0 30px;
    border: none;
    outline: none;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
    float: left;
  }

  .company-search-container {
    max-width: 700px;
    margin: 30px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
