body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #ff5733;
  font-size: 45px;
  text-align: center;
  animation: slideUp 1s ease-out forwards;
  margin-top: 30px;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #e3651d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container_update {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  display: flex;
  align-items: center;
  border-left: 5px solid #ff3d00;
  margin-top: 50px;
  margin-bottom: 20px;
}

.update-content {
  color: #333;
  font-size: 18px;
  text-align: left;
  padding-left: 15px;
}

button {
  padding: 15px 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ff5733;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 300ms all;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: slideUp 1s ease-out forwards;
}

button:hover {
  background-color: #ff3d00;
  font-size: 19px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.sgse_isletme,
.sgse_normal_kullanici {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#errorBox {
  display: none;
  background-color: #ffdddd;
  color: red;
  border: 1px solid red;
  padding: 10px;
  margin: 5px 0;
  border-radius: 25px;
  font-size: 20px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@media (max-width: 768px) {
  .title {
    font-size: 35px;
    margin-top: 20px;
  }

  .sgse_normal_kullanici h2,
  .sgse_isletme h2 {
    font-size: 22px;
    margin-top: 20px;
  }

  .sgse_normal_kullanici button,
  .sgse_isletme button {
    width: 100%;
    max-width: 300px;
    margin: 15px auto;
  }

  .container_update {
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .update-content {
    font-size: 16px;
  }
}
